@font-face {
  font-family: "average";
  src: url(../assets/font/AverageSans-Regular.ttf);
}
body {
  animation-name: bgDiego;
  transition: all 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: "average";
}
body h1, body h2 {
  font-weight: bold;
}

@keyframes bgDiego {
  0% {
    background: rgba(255, 231, 151, 0.692);
  }
  10% {
    background: rgba(253, 255, 132, 0.644);
  }
  40% {
    background: rgba(255, 220, 125, 0.712);
  }
  70% {
    background: rgba(255, 227, 68, 0.699);
  }
  90% {
    background: rgba(255, 241, 159, 0.726);
  }
  100% {
    background: rgba(255, 231, 151, 0.692);
  }
}
header {
  border-top: 3px solid #176B87;
  border-bottom: 3px solid #176B87;
}

body {
  overflow-x: hidden;
}
body header nav div #textoHeader {
  background: linear-gradient(to right, green, white, red);
  -webkit-background-clip: text;
  color: transparent;
}
body main #principal {
  height: 70%;
  display: grid;
  grid-template-rows: 0.25fr 3fr 0.25fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "title title" "section1 section2" "seleccion seleccion";
}
body main #principal #title h2, body main #principal #seleccion h2, body main #principal #section2 h2, body main #principal #section1 h2 {
  font-weight: bolder;
}
body main #principal #section1 a img {
  max-width: 50%;
}
body main #sectionAltar {
  margin: 1rem;
}
body main #sectionAltar #videoAltar {
  display: flex;
  text-align: center;
  border-radius: 6px;
  margin: 0 1rem 2rem 1rem;
}
body main #sectionAltar #videoAltar #video {
  width: 55%;
  height: 60vh;
  margin-top: 0;
  margin: 0 1rem 0 1rem;
}
body main #sectionAltar #videoAltar p {
  width: 40%;
  margin-top: 0;
  margin: 0 1rem 0 1rem;
}

main #principal #title, main #principal #seleccion, main #principal #section2, main #principal #section1 {
  text-align: center;
  grid-area: title;
  padding: 1rem;
  margin: 1rem;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
}
main #principal #title h2, main #principal #seleccion h2, main #principal #section2 h2, main #principal #section1 h2 {
  font-weight: bolder;
}
main #principal #section1 {
  grid-area: section1;
}
main #principal #section1 a img {
  max-width: 50%;
}
main #principal #section2 {
  grid-area: section2;
}
main #principal #seleccion {
  background-color: rgba(245, 245, 245, 0);
  grid-area: seleccion;
  max-width: 500px;
  font-size: x-large;
  margin: 0 30% 1rem 30%;
}
main #sectionAltar #videoAltar p {
  text-align: left;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  padding: 0.5rem;
}

body {
  overflow-x: hidden;
}
body main .musica {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 2%;
}
body main .navHistoria {
  height: 70%;
  margin: 4%;
  gap: 1rem;
  display: grid;
  grid-template-rows: 0.25fr 0.5fr 1fr 0.25fr;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "leyenda1 leyenda1" "leyenda2 leyenda3" "leyenda4 leyenda4" "leyenda5 leyenda5";
}
body main .navHistoria img {
  max-width: 400px;
  width: 90%;
  border-radius: 3px;
}

/* ESTILOS PARA EL GRID FOTOS CATRINA */
body {
  overflow-x: hidden;
}
body .mainFotos .fotosMaquillaje {
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem;
  height: 50%;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  display: grid;
  grid-template-rows: 0.25fr 6fr;
  grid-template-columns: repeat(3, 3fr);
  grid-template-areas: "tituloFotos tituloFotos tituloFotos" "imagen1 imagen2 parrafo";
}
body .mainFotos .fotosMaquillaje .tituloFotos {
  text-align: center;
  grid-area: tituloFotos;
}
body .mainFotos .fotosMaquillaje .imagen1 {
  max-width: 90%;
  grid-area: imagen1;
  max-width: 98%;
  margin: 0.5rem;
  border-radius: 9px;
}
body .mainFotos .fotosMaquillaje .imagen2 {
  max-width: 90%;
  grid-area: imagen2;
  max-width: 98%;
  margin: 0.5rem;
  border-radius: 9px;
}
body .mainFotos .fotosMaquillaje .parrafo {
  grid-area: parrafo;
  padding: 0.5rem;
}
body .mainFotos .fotosBailarinas {
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem;
  overflow: hidden;
  height: 50%;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  display: grid;
  grid-template-rows: 0.25fr 6fr;
  grid-template-columns: repeat(3, 3fr);
  grid-template-areas: "tituloFotos tituloFotos tituloFotos" "parrafo imagen1 imagen2";
}
body .mainFotos .fotosBailarinas .tituloFotos {
  text-align: center;
  grid-area: tituloFotos;
}
body .mainFotos .fotosBailarinas .imagen1 {
  grid-area: imagen1;
  max-width: 98%;
  margin: 0.5rem;
  border-radius: 6px;
}
body .mainFotos .fotosBailarinas .imagen2 {
  grid-area: imagen2;
  max-width: 98%;
  margin: 0.5rem;
  border-radius: 6px;
}
body .mainFotos .fotosBailarinas .parrafo {
  grid-area: parrafo;
}
body .mainFotos .fotosPersonajes {
  margin: 5rem;
  text-align: center;
}
body .mainFotos .fotosPersonajes img {
  border-radius: 6px;
}
body .mainFotos .fotosPersonajes p {
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  padding: 1rem;
  margin: 0.5rem;
  border-top: 3px solid #176B87;
}
body .mainFotos .fotosAltar {
  margin: 2rem 1rem 1rem 1rem;
  height: 50%;
  gap: 1rem;
  display: grid;
  overflow: hidden;
  grid-template-rows: 2rem repeat(3, 0.5fr);
  grid-template-columns: repeat(2, 3fr);
  grid-template-areas: "titulo titulo" "img1 img2" "img3 img4" "parrafo parrafo";
}
body .mainFotos .fotosAltar h3 {
  text-align: center;
  grid-area: titulo;
}
body .mainFotos .fotosAltar .img1 {
  max-width: 95%;
  grid-area: img1;
  border-radius: 9px;
}
body .mainFotos .fotosAltar .img2 {
  max-width: 95%;
  grid-area: img2;
  border-radius: 9px;
}
body .mainFotos .fotosAltar .img3 {
  max-width: 95%;
  grid-area: img3;
  border-radius: 9px;
}
body .mainFotos .fotosAltar .img4 {
  max-width: 95%;
  grid-area: img4;
  border-radius: 9px;
}
body .mainFotos .fotosAltar p {
  text-align: center;
  grid-area: parrafo;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  padding: 1rem;
  margin: 0.5rem;
  border-top: 3px solid #176B87;
}

/* ESTILOS PARA LA PAGINA COMUNIDAD */
body {
  overflow-x: hidden;
}
body .comunidad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  align-items: center;
  overflow: hidden;
}
body .comunidad div {
  padding: 0.5rem;
  text-align: center;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  margin-bottom: 1rem;
}
body .comunidad div h2 {
  text-align: center;
  font-weight: bolder;
}
body .comunidad div #sectionFotosComunidad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
body .comunidad div #sectionFotosComunidad .fotoComunidad {
  max-width: 45%;
  margin: 1%;
}
body .comunidad div img {
  border-radius: 21px;
  margin: 1rem;
}

/* ESTILOS PARA LA PAGINA CONTACTOS */
body {
  overflow-x: hidden;
}
body .menuContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}
body .menuContacto fieldset {
  margin: 2rem 0 2rem 0;
  max-width: 80%;
  display: flex;
  flex-direction: column;
}
body .menuContacto fieldset form div #comentario {
  max-width: 99%;
  transition: border 0.5s;
}
body .menuContacto fieldset form div #comentario:hover {
  border-radius: 6px;
  border: 3px solid #176B87;
}
body .menuContacto .textoMaiz {
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-top: 3px solid #176B87;
}
body .menuContacto .apoyo {
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  padding: 1rem;
  border-top: 3px solid #176B87;
}
body .menuContacto div h5 {
  text-align: center;
  font-size: x-large;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body main .leyenda1 {
  grid-area: leyenda1;
  padding: 0.5rem;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  text-align: center;
}

body main .leyenda2 {
  grid-area: leyenda2;
  padding: 0.5rem;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  text-align: center;
}

body main .leyenda3 {
  grid-area: leyenda3;
  padding: 0.5rem;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  text-align: center;
}

body main .leyenda4 {
  grid-area: leyenda4;
  padding: 0.5rem;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  text-align: center;
}

body main .leyenda5 {
  grid-area: leyenda5;
  padding: 0.5rem;
  background-color: rgba(100, 204, 197, 0.7137254902);
  border: 3px solid #176B87;
  border-radius: 9px;
  text-align: center;
}

/* MEDIA QUERY PARA 1200px*/
@media screen and (max-width: 1200px) {
  body .mainFotos .fotosMaquillaje {
    grid-template-rows: 0.25fr 1.5fr 0.5fr;
    grid-template-columns: repeat(2, 3fr);
    grid-template-areas: "tituloFotos tituloFotos" "imagen1 imagen2" "parrafo parrafo";
  }
  body .mainFotos .fotosBailarinas {
    grid-template-rows: 0.25fr 1fr 0.5fr;
    grid-template-columns: repeat(2, 3fr);
    grid-template-areas: "tituloFotos tituloFotos" "imagen1 imagen2" "parrafo parrafo";
  }
  main #sectionAltar #videoAltar {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  main #sectionAltar #videoAltar p {
    width: fit-content;
  }
}
/* MEDIA QUERY PARA 740px*/
@media screen and (max-width: 740px) {
  body {
    font-size: medium;
  }
  body header .navbar {
    padding: 0.5rem;
  }
  body main #principal {
    grid-template-rows: 0.25fr 1fr 1.5fr 0.05fr;
    grid-template-columns: 1fr;
    grid-template-areas: "title" "section1" "section2" "seleccion";
  }
  body main #principal #title, body main #principal #section1, body main #principal #section2, body main #principal #seleccion {
    margin: 1rem;
  }
  body main #principal #seleccion {
    max-width: 300px;
    font-size: medium;
    padding: 0.5rem;
    margin: 0 30% 1rem 30%;
  }
  body main #sectionAltar #videoAltar {
    flex-direction: column;
    text-align: center;
  }
  body main #sectionAltar #videoAltar #video {
    width: 90%;
    height: 80vh;
  }
  body main #sectionAltar #videoAltar #videoAltar p {
    width: 90%;
  }
  /* ESTILOS PARA HISTORIAS */
  body main .navHistoria {
    grid-template-rows: 0.75fr 0.5fr 0.5fr 1fr 0.5fr;
    grid-template-columns: 1fr;
    text-align: center;
    grid-template-areas: "leyenda1" "leyenda2" "leyenda3" "leyenda4" "leyenda5";
  }
  /* ESTILOS PARA FOTOS */
  body .mainFotos .fotosMaquillaje {
    grid-template-rows: 0.05fr repeat(2, 0.25fr) 0.45fr;
    grid-template-columns: 1fr;
    padding: 1rem;
    margin: 1rem;
    grid-template-areas: "tituloFotos" "imagen1" "imagen2" "parrafo";
  }
  body .mainFotos .fotosBailarinas {
    grid-template-rows: 0.05fr 0.45fr repeat(2, 0.25fr);
    grid-template-columns: 1fr;
    padding: 1rem;
    margin: 1rem;
    grid-template-areas: "tituloFotos" "parrafo" "imagen1" "imagen2";
  }
  body .mainFotos .fotosAltar {
    grid-template-rows: repeat(5, 0.25fr);
    grid-template-columns: 1fr;
    grid-template-areas: "titulo" "img1" "img2" "img3" "img4" "parrafo";
  }
  body .mainFotos .fotosPersonajes {
    margin: 2rem;
  }
  body .comunidad div #sectionFotosComunidad {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 90%;
  }
  body .comunidad div #sectionFotosComunidad .fotoComunidad {
    max-width: 75%;
    margin: 1%;
  }
  body .comunidad div h1 {
    font-size: large;
  }
}
@media screen and (max-width: 530px) {
  body p {
    font-size: small;
  }
  body ol li {
    font-size: small;
  }
  body h1, body h2, body h3, body h4 {
    font-size: medium;
  }
  body main #seleccion {
    display: flex;
    flex-direction: column;
    margin: 0 20% 1rem 20%;
  }
  body .mainFotos .fotosPersonajes {
    margin: 1rem;
  }
}
#pie {
  border-top: 3px solid #176B87;
  border-bottom: 3px solid #176B87;
  padding: 5px;
  background: radial-gradient(ellipse 70% 100%, black, #001C30, #055160);
  text-align: center;
  color: #055160;
  font-weight: bold;
}
#pie #botonPie {
  width: 100px;
  height: 30px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px;
  border-bottom: outset;
  transition: transform 0.3s;
}
#pie #botonPie:hover {
  color: #64CCC5;
  width: 7rem;
  border-color: #64CCC5;
  background-color: #001C30;
  transform: scale(1.2, 1.2);
}
#pie div a img {
  height: 50px;
  transition: border-radius 0.4s;
}
#pie div a img:hover {
  border-radius: 50px;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */
