body{
    main{
        .gridPaginaError{
            display: grid;
            margin: 1rem;
            grid-template-rows: repeat(4, 1fr);
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas:
            "titulo titulo titulo titulo"
            "uno img img dos"
            "uno img img dos"
            "tres tres cuatro cuatro";
            .tituloPaginaError{
                grid-area: titulo;
                text-align: center;
            }
            .unoPaginaError{
                grid-area: uno;
                font-size: large;
                font-weight: bold;
                color: green;
            }
            .dosPaginaError{
                text-align: end;
                grid-area: dos;
                font-size: large;
                font-weight: bold;
                color: rgb(197, 0, 0);
            }
            .tresPaginaError{
                grid-area: tres;
                text-align: center;
                font-size: large;
                font-weight: bold;
                color: rgb(255, 255, 255);
            }
            .cuatroPaginaError{
                grid-area: cuatro;
                text-align: center;
                font-size: large;
                font-weight: bold;
                color: rgb(255, 255, 255);
            }
            .imagenPaginaError{
                grid-area: img;
                img{
                    width: 80%;
                    transition: transform 0.5s;
                    &:hover{
                        transform: scale(1.8, 1.8);
                    }
                }
            }
        }
    }
}