/* ESTILOS PARA LA PAGINA COMUNIDAD */
body{
    overflow: hidden;
    .comunidad{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        align-items: center;
        overflow: hidden;
        div{
            padding: 0.5rem;
            text-align: center;
            h2{
                text-align: center;
                font-weight: bolder;
            }
            #sectionFotosComunidad{
                    .fotoComunidad{
                    max-width:45%;
                    margin: 1%;
                }
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
            }
            img{
                border-radius: $borde*7;
                margin: 1rem;
            }
            @include bordeSections;
            margin-bottom: 1rem;
        }
    }
}


