/* ESTILOS PARA LA PAGINA COMUNIDAD */
body{
    overflow-x: hidden;
    .comunidad{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 1rem;
        align-items: center;
        overflow: hidden;
        div{
            padding: 0.5rem;
            text-align: center;
            h2{
                text-align: center;
                font-weight: bolder;
            }
            #sectionFotosComunidad{
                .fotoComunidad{
                    max-width:45%;
                    margin: 1%;
                }
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
            }
            img{
                border-radius: $borde*7;
                margin: 1rem;
            }
            margin-bottom: 1rem;
        }
        .calaveritas{
            display: flex;
            justify-content: space-around;
            img{
                max-width: 10%;
                animation-name: calaverita;
                transition: all 5s;
                animation-iteration-count: infinite;
                animation-duration: 2s;            
            }
        }
        .textoComunidad{
            background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);   
            margin: 0;             
        }
    }
}
@keyframes calaverita{
    0%{
        transform:rotate(40deg);
    }
    60%{
        transform: rotate(-40deg);
    }
    100%{
        transform: rotate(40deg);
    }
}


