// ESTILOS PARA HISTORIAS
body{
    overflow-x: hidden;
    main{
        .musica{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            margin-top: 2%;
            max-height: 15rem;
            overflow: hidden;
            img{
                max-height: 16rem;
            }
            div{
                display: flex;
                flex-direction: column;
                max-height: 55rem;
                padding: 4rem;
                background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);                
                h1{
                    text-align: center;
                }
            }
        }
        .navHistoria{
            height: 70%;
            margin: 4%;
            gap: 1rem;
            display: grid;
            grid-template-rows: 0.25fr 0.5fr 1fr 0.25fr ; 
            grid-template-columns: repeat(2, 1fr);
            grid-template-areas:
              "leyenda1 leyenda1"
              "leyenda2 leyenda3"
              "leyenda4 leyenda4"
              "leyenda5 leyenda5";
            img{
                max-width: 400px;
                width: 90%;
                border-radius: $borde;
                transition: scale 1s;
                &:hover{
                    scale: 1.05;
                }
            }
        }
    }
}

