body{
    overflow-x: hidden;
    main{
        #principal{
            height: 70%;
            display: grid;
            grid-template-rows: 0.25fr 3fr 0.25fr; 
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "title title"
                "section1 section2"
                "seleccion seleccion";
            #title{
                div{
                    display: flex;
                    p{
                        padding: 0.5rem;
                    }
                }
                img{
                    min-width: 10rem;
                    transition: transform 1.5s;
                    &:hover{
                        transform: rotatex(180deg);
                    }
                }
                h1{
                    font-weight: bolder;
                }
            }
            #section1{
                max-width: 48vw;
                a{
                    img{
                        max-width: 60%;
                        margin-bottom: 2rem;
                        transition: transform 2.5s;
                        &:hover{
                            transform:rotateY(180deg);
                        }
                    }
                }
            }
            #section2{
                max-width: 48vw;
                video{
                    max-width: 90%;
                }
            }
        }
        #sectionAltar{
            background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);   
            padding: 1rem;
            text-align: center;
            #videoAltar{
                display: flex;
                text-align: center;
                border-radius: $borde*2;
                margin: 0 1rem 2rem 1rem;
                gap: 1rem;
                justify-content: center;
                align-items: center;
                #video{
                    height: 50vh;
                    margin-top: 1rem;
                }
                p{
                    height: 40%;
                    margin-top: 1rem;
                }
            }
        }
    }
}