$vista1: 1200;
$vista2: 740;
$vista3: 530;
@if $vista1 == 1200 {
    /* MEDIA QUERY PARA 1200px*/
    @media screen and (max-width: 1200px){
        body{
            .mainFotos{
                .fotosMaquillaje{
                    grid-template-rows: 0.25fr 1.5fr 0.5fr; 
                    grid-template-columns: repeat(2, 3fr);
                    grid-template-areas:
                    "tituloFotos tituloFotos"
                    "imagen1 imagen2"
                    "parrafo parrafo"
                }
                .fotosBailarinas{
                    grid-template-rows: 0.25fr 1fr 0.5fr; 
                    grid-template-columns: repeat(2, 3fr);
                    grid-template-areas:
                    "tituloFotos tituloFotos"
                    "imagen1 imagen2"
                    "parrafo parrafo"
                }
            }
        }
        main{
            #sectionAltar{
                #videoAltar{
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                    p{
                        width: 80%;
                    }
                }
            }
        }
    }
}     
@if $vista2 == 740{
    /* MEDIA QUERY PARA 740px*/
    @media screen and (max-width: 740px){
        body{
            font-size: medium;
            header{
                .navbar{
                    padding: 0.5rem;
                }
            }
            main{
                #principal{
                    grid-template-rows: 0.25fr 0.75fr 1fr 0.05fr; 
                    grid-template-columns: 1fr;
                    grid-template-areas:
                    "title"
                    "section1"
                    "section2"
                    "seleccion";
                    #title{
                        margin: 1rem;
                    }
                    #seleccion {
                        max-width: 300px;
                        font-size: medium;
                        padding: 0.5rem;
                        margin: 0 30% 1rem 30%;
                    }
                }
                #sectionAltar{
                    #videoAltar{
                        flex-direction: column;
                        text-align: center;
                        #video{
                            width: 90%;
                            height: 80vh;
                        }
                        #videoAltar p{
                            width: 90%;
                        }
                    }
                }
            }
        }
        /* ESTILOS PARA HISTORIAS */
        body{
            main{
                .navHistoria{
                    grid-template-rows: 0.75fr 0.5fr 0.5fr 1fr 0.5fr; 
                    grid-template-columns: 1fr;
                    text-align: center;
                    grid-template-areas:
                    "leyenda1"
                    "leyenda2"
                    "leyenda3"
                    "leyenda4"
                    "leyenda5"
                }
            }
        }
        /* ESTILOS PARA FOTOS */
        body{
            .mainFotos{
                .fotosMaquillaje{
                    grid-template-rows: 0.05fr repeat(2, 0.25fr) 0.45fr; 
                    grid-template-columns: 1fr;
                    padding: 1rem;
                    margin: 1rem;
                    grid-template-areas:
                    "tituloFotos"
                    "imagen1" 
                    "imagen2" 
                    "parrafo"
                }
                .fotosBailarinas{
                    grid-template-rows: 0.05fr 0.45fr repeat(2, 0.25fr); 
                    grid-template-columns: 1fr;
                    padding: 1rem;
                    margin: 1rem;
                    grid-template-areas:
                    "tituloFotos"
                    "parrafo"
                    "imagen1"
                    "imagen2"
                }
                .fotosAltar{
                    grid-template-rows: repeat(5, 0.25fr); 
                    grid-template-columns: 1fr;
                    grid-template-areas:
                    "titulo"
                    "img1"
                    "img2"
                    "img3"
                    "img4"
                    "parrafo"
                }
                .fotosPersonajes{
                    margin: 2rem;
                }
            }
        }
        body{
            .comunidad{
                div{
                    #sectionFotosComunidad{
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-basis: 90%;
                        .fotoComunidad{
                            max-width:75%;
                            margin: 1%;
                        }
                    }
                    h1{
                        font-size: large;
                    }
                }
            }
        }
    }
}
@if $vista3 == 530 {
    @media screen and (max-width: 530px){
        body{
            p{
                font-size: small;
            }
            ol{
                li{
                    font-size: small;
                }
            }
            h1, h2, h3, h4{
                font-size: medium;
            }
            main{
                #seleccion {
                    display: flex;
                    flex-direction: column;
                    margin: 0 20% 1rem 20%;
                }
            }
            .mainFotos{
                .fotosPersonajes{
                        margin: 1rem;
                }
            }
        }
    }
}