main{
    #principal{
        #title{
            text-align: center;
            grid-area: title;
            padding: 1rem;
            margin: 1rem;
            h2{
                font-weight: bolder;
            }
        }
        #section1{
            @include bordeSections;
            @extend #title;
            text-align: center;
            grid-area: title;
            padding: 1rem;
            margin: 1rem;
            grid-area: section1;
            a{
                img{
                    max-width: 50%;
                }
            }
        }    
        #section2{
            @extend #section1;
            grid-area: section2;
        }
        #seleccion{
            @extend #title;
            background-color:rgba(245, 245, 245, 0);
            grid-area: seleccion;
            max-width: 500px;
            font-size: x-large;
            margin: 2rem 30% 1rem 30%;
        }
    }
    #sectionAltar{
        
        #videoAltar{
            p{
                text-align: left;
            }
        }
    }
}