main{
    #principal{
        #title{
            text-align: center;
            grid-area: title;
            padding: 1rem;
            margin: 1rem;
            @include bordeSections;
            h2{
                font-weight: bolder;
            }
            }
        #section1{
            @extend #title;
            grid-area: section1;
            a{
                img{
                    max-width: 50%;
                }
            }
        }    
        #section2{
            @extend #title;
            grid-area: section2;
        }
        #seleccion{
            @extend #title;
            background-color:rgba(245, 245, 245, 0);
            grid-area: seleccion;
            max-width: 500px;
            font-size: x-large;
            margin: 0 30% 1rem 30%;
        }
        }
}