#pie{
    border-top: $borde solid $colorBorder;
    border-bottom: $borde solid $colorBorder;
    padding: 5px;
    background: radial-gradient(ellipse 70% 100%, black, #001C30, #055160);
    text-align: center; 
    color:$colorTextoPie;
    font-weight: bold;
    #botonPie{
        width: 100px;
        height: 30px;
        font-size: 1rem;
        font-weight: bold;
        border-radius: $borde*5;
        border-bottom: outset;
        transition: transform 0.3s;
        &:hover{
            color: $colorHoverBotonPie;
            width: 7rem;
            border-color:$colorHoverBotonPie;
            background-color: $colorLineaYBordeContacto;
            transform: scale(1.2, 1.2);
        }
    }
    div{
        a{
            img{
                height: 50px;
                transition: border-radius 0.4s;
                &:hover{
                    border-radius: 50px;
                }
            }
        }
    }
}