header {
    nav{
        div{
            #textoHeader{
                background: linear-gradient(to right, green,white,red);
                -webkit-background-clip: text;
                color: transparent;
            }
        }
    }
    position: sticky;
    z-index: 1;
    top: 0;
    animation: adjustHeader linear both;
    animation-timeline: scroll();
    animation-range:0 2000px;
    .navbar{
        height: 5rem;
        div{
            div{
                ul{
                    li{
                        a{
                            &:hover{
                                color: #EF9595 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@keyframes adjustHeader{
    to {
        font-size: 0.75rem;
    }
}