$colorBorder: #176B87;
$colorBgBody: rgba(254, 255, 201, 0.733);
$colorBgSection: #64ccc5b6;
$colorLineaYBordeContacto: #001C30; 
$colorTextoPie: #055160;
$colorBgFooter: black;
$borde: 3px;
@font-face {
    font-family: "average";
    src: url(../assets/font/AverageSans-Regular.ttf);
}