$colorBorder: rgba(0, 0, 0, 0.363);
$colorBgSection: #64ccc56e;
$bgrosa: #ef9595b6;
$colorHoverBotonPie: #64CCC5;
$colorLineaYBordeContacto: #001c30bb; 
$colorTextoPie: #05516096;
$colorBgFooter: black;
$borde: 3px;
@font-face {
    font-family: "average";
    src: url(../assets/font/AverageSans-Regular.ttf);
}